@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-tap-highlight-color: transparent !important;
}
.ant-drawer .ant-drawer-close {
  display: none !important;
}
/* .ant-tabs-tab {
  border: 1px solid #212428 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 24px !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  margin: 40px !important;
} */
/* ant-tabs >.ant-tabs-nav .ant-tabs-nav-list */
.card_image_portffolio {
  border-radius: 13px !important;
}
.ant-tabs-tab {
  border: 1px solid #212428 !important;
  font-size: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin: 20px !important;
  border-radius: 10px !important;
  color: #ff014f;
}
.ant-tabs-tab:hover {
  color: #ff014f !important;
}
.skillbar {
  margin-bottom: 45px !important;
}
